.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.bg-light{
    background-color:#dbb08d !important;
}
.table .thead-dark th{
    color:floralwhite;
    background-color:#6E3F19
}   a:link { 
    text-decoration: none;
    color: grey;
}
a:visited {  
    text-decoration: none;
    color: blue;
}
a:hover { 
    text-decoration: none;
    color: green;
}
a:active { 
    text-decoration: none;
    color: green;
}

tr:hover {background-color:#dbb08db0!important}
dl {
    color : chocolate;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
.card{background-color:orange; color:floralwhite;}
.form{background-color: whitesmoke; color:black;}
.submit1{ margin-top:1em; margin-bottom:2em; margin-left: 0; margin-right:0; color:orange; padding:20px 0px 0px 0px; }